/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort

body.sort-active *
        {
        cursor:wait;
        }
*/

th
        {
        font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border-top: 1px solid #C1DAD7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 8px 12px 4px 12px;
        background: #CAE8EA url('../images/table/bg_header.jpg') no-repeat;
        vertical-align:middle;
        }
td.total
        {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #C1DAD7;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime

        {
        cursor:pointer;
        background: #CAE8EA url('../images/table/tablebg_header_sortable.jpg') no-repeat;
        padding: 8px 12px 4px 16px;
        }
th.forwardSort
        {
        background:#CAE8EA url('../images/table/bg_header_down.jpg') no-repeat 0 0;
        }
th.reverseSort
        {
        background:#CAE8EA url('../images/table/bg_header_up.jpg') no-repeat 0 0;
        }
table thead th.forwardSort a,
table thead th.reverseSort a
        {
        color:#000;
        text-decoration:none;
        }
/*
These styles should be added when very long tables are expected
th.sort-active
        {
        background:#CAE8EA url(../media/bg_header_sorting.jpg) no-repeat 0 0;
        cursor:wait;
        }
th.sort-active a
        {
        color:#a80000 !important;
        cursor:wait;
        }
*/
th a
        {
        text-decoration:none;
        color: #4f6b72;
        background:transparent;
        }
td a
        {
        text-decoration:none;
        color:#239;
        background:transparent;
        }
td img
        {
        margin:0 auto;
        border:3px solid #ddd;
        }
td a:hover
        {
        color:#a84444;
        border-bottom:1px dotted #a80000;
        background:transparent;
        }
.edit, .oedit{
	background: url(../images/edit.png) center center no-repeat;
	text-indent: -99999px;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	cursor: pointer;
}
td
        {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        padding: 6px 12px 6px 12px;
        color: #4f6b72;
        }
.delete, .odelete{
	background: url(../images/delete.png) center center no-repeat;
	text-indent: -99999px;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	cursor: pointer;
}
.check{
	background: url(../images/check.png) center center no-repeat;
	text-indent: -99999px;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	cursor: pointer;
}
td.lft
        {
        text-align:left;
        }
tr.alt
        {
        background: #F5FAFA;
        color: #797268;
        }

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */
tr[class="alt"] td
        {
        background: #F5FAFA url('../images/table/td_alt.jpg') no-repeat;
        }
td[class~="alt"]
        {
        background: #edf3f3 url('../images/table/col_alt.jpg') no-repeat !important;
        }
/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
tbody tr.alt td:first-child
        {
        background: #F5FAFA url('../images/table/bullet2.gif') no-repeat;
        font-weight:bold;
        }
tbody tr td:first-child
        {
        background: #fff url('../images/table/bullet1.gif') no-repeat;
        font-weight:bold;
        }
/* Image free rules for Internet Explorer < 7 */
* html tr.alt td
        {
        background-color:#F5FAFA;
        }
* html tr td.alt,
* html tr.alt td.alt
        {
        background-color:#edf3f3;
        }
/* Pagination list styles */
ul.fdtablePaginater
        {
        display:table;
        list-style:none;
        padding:0;
        margin:0 auto;
        text-align:center;
        height:2em;
        width:auto;
        margin-bottom:2em;
        }
ul.fdtablePaginater li
        {
        display:table-cell;
        padding-right:4px;
        color:#666;
        list-style:none;
        
        -moz-user-select:none;
        -khtml-user-select:none;
        }
ul.fdtablePaginater li a.currentPage
        {
        border-color:#a84444 !important;
        color:#000;
        }
ul.fdtablePaginater li a:active
        {
        border-color:#222 !important;
        color:#222;
        }
ul.fdtablePaginater li a,
ul.fdtablePaginater li div
        {
        display:block;
        width:2em;
        font-size:1em;
        color:#666;
        padding:0;
        margin:0;
        text-decoration:none;
        outline:none;
        border:1px solid #ccc;
        font-family:georgia, serif;
        }
ul.fdtablePaginater li div
        {
        cursor:normal;
        opacity:.5;
        filter:alpha(opacity=50);
        }
ul.fdtablePaginater li a span,
ul.fdtablePaginater li div span
        {
        display:block;
        line-height:2em;
        border:1px solid #fff;
        background:#fff url('../images/table/gradient.gif') repeat-x 0 -20px;
        }
ul.fdtablePaginater li a
        {
        cursor:pointer;
        }
ul.fdtablePaginater li a:focus
        {
        color:#333;
        text-decoration:none;
        border-color:#aaa;
        }
.fdtablePaginaterWrap
        {
        text-align:center;
        clear:both;
        text-decoration:none;
        }
ul.fdtablePaginater li .next-page span,
ul.fdtablePaginater li .previous-page span,
ul.fdtablePaginater li .first-page span,
ul.fdtablePaginater li .last-page span
        {
        font-weight:bold !important;
        }
/* Keep the table columns an equal size during pagination */
td.sized1
        {
        width:16em;
        text-align:left;
        }
td.sized2
        {
        width:10em;
        text-align:left;
        }
td.sized3
        {
        width:7em;
        text-align:left;
        }
tfoot td
        {
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
#visibleTotal
        {
        text-align:center;
        letter-spacing:auto;
        }
* html ul.fdtablePaginater li div span,
* html ul.fdtablePaginater li div span
        {
        background:#eee;
        }
tr.invisibleRow
        {
        display:none;
        visibility:hidden;
        }